body {
  font-family: "Poppins", sans-serif;
  background-color: #110e1b;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 60px;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-col-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-col {
  grid-template-columns: repeat(3, 1fr);
}

.img-responsive {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.card {
  background: #110e1b;
  margin: 30px 0;
  box-shadow: 3px 3px 3px black;
}

.card-body {
  margin: 30px;
}

.card-footer {
  margin: 0 30px 30px;
}

.btn {
  display: block;
  color: #110e1b;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: white;
  opacity: 0.7;
  text-decoration: none;
}

.video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #0a080f;
}

h1,
h2,
h3 {
  font-family: "Pirata One", system-ui;
}

header {
  background-image: linear-gradient(rgba(17, 14, 27, 0.5), rgba(17, 14, 27, 1)),
    url("../Images/ghost-band-2025.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 180px 0;
  background-position: center;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  opacity: 0.7;
}

header p {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
  opacity: 0.7;
}

header img {
  max-width: 25%;
  opacity: 0.6;
}

header a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #110e1b;
  text-decoration: none;
  background: white;
  opacity: 0.7;
  padding: 16px 32px;
  border-radius: 2px;
  display: inline-block;
  margin-top: 32px;
}

main h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: white;
  opacity: 0.6;
  text-transform: uppercase;
  margin: 0 0 5px;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: white;
  opacity: 0.7;
  margin: 0;
}

main h4 {
  font-family: "Pirata One", system-ui;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  color: white;
  opacity: 0.7;
  margin: 0;
  text-transform: capitalize;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: white;
  opacity: 0.7;
  margin: 0;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  opacity: 0.7;
}

p.album-name {
  text-transform: capitalize;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(17, 14, 27, 0.5), rgba(17, 14, 27, 1)),
    url("../Images/ghost-band-live.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  opacity: 0.7;
}

footer p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

footer a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  opacity: 0.7;
}
